<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://source.unsplash.com/random/?apartment" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title"><%= flat.name %></h5>
    <p class="card-text"><%= flat.description %></p>
    <%= link_to "More Info", flat_path(flat) %>
  </div>
</div>
